.container{
    width: 100vw;
    height:97vh;
    background-color: lightblue;
    overflow: hidden;

}
.rectangle{
    
    background-color: rgb(31, 63, 73);
    margin: 2px;
    box-sizing: border-box;
    float: left;
}